* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

html, body {
  height: 100%;
}

header {
  width: 60%;
  height: 100px;
  min-width: 500px;
  margin: 0 auto;
  background-color: #F08080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header h1 {
  font-family: sans-serif;
  font-size: 66px;
  color: #111;
}

#app {
  width: 60%;
  height: 100px;
  min-width: 500px;
  margin: 50px auto;
}
#app ul li {
  list-style: none;
  cursor: pointer;
  height: 50px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightcyan;
  text-decoration: none;
  color: #000;
  position: relative;
}
#app ul li .right {
  position: absolute;
  right: 20px;
}
#app ul li .deleteBTN {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
#app ul li input {
  margin: 0 20px;
}
#app ul li:nth-child(odd) {
  background-color: lightblue;
}
#app ul li.strike {
  text-decoration: line-through;
}
#app .backBTN, #app .addItemBTN {
  width: 100px;
  height: 50px;
  margin: 20px auto;
  border: solid 1px #000;
  border-radius: 6px;
  background-color: #999;
  font-family: sans-serif;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}