#app {

    margin: 50px;

    ul {

        li {
            list-style: none;
            cursor: pointer;
            height: 50px;
            padding: 20px;
            display: flex;
            align-items: center;
            background-color: lightcyan;
            text-decoration: none;
            color: #000;
        }

        li:nth-child(odd) {
            background-color: lightblue;
        }
    }

    .back {
        width: 100px;
        border: solid 1px #000;
        cursor: pointer;
    }
}