#app {

    margin: 50px;

    ul {

        li {
            list-style: none;
            cursor: pointer;
            height: 50px;
            padding: 20px;
            display: flex;
            align-items: center;
            background-color: lightcyan;
            text-decoration: none;
            color: #000;
            
            input {
                margin: 0 20px;
            }
        }

        li:nth-child(odd) {
            background-color: lightblue;
        }
        
        li.strike {
            text-decoration: line-through;
        }
    }

    .back {
        width: 100px;
        height: 50px;
        margin: 20px auto;
        border: solid 1px #000;
        border-radius: 6px;
        background-color: #999;
        font-family: sans-serif;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}